.code-preview {
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}

.code-preview-elements {
  padding: 24px;
}

.code-preview-code {
  padding: 24px;
  background-color: #eeeeee;
  position: relative;
}

.code-preview-code pre {
  margin: 0 !important;
}

.code-preview-code .copy-button {
  position: absolute;
  right: 0;
  top: 0;
}

.code-preview-label {
  text-transform: uppercase;
  position: absolute;
  left: 8px;
  top: -13px;
  font-size: 12px;
  background-color: #ffffff;
  padding: 4px;
}
