header {
  height: 66px;
  align-items: center;
  background-color: #37485b;
  color: #ffffff;
}

header .brand,
header .version {
  width: 122px !important;
  display: inline-block;
}

header .brandImage {
  max-height: 38px;
  display: inline-block;
}

header .headerText {
  font-size: 16px;
}

header .version {
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.6;
}

header .spacer {
  flex-grow: 1;
}

.sidebar {
  background-color: #f7fafb;
  min-height: calc(100vh - 66px);
}

.sidebar a:not(:focus) {
  @extend .light-text;
}

.content {
  width: 80% !important;
  margin: 32px auto;
}

hr.thick {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.light-text {
  color: #787878;
}